{% extends 'home/dashboard.html' %}
{% block dashboard_content %}
{% load static %}
{% load mathfilters %}
<div class="row">
    <div class="col dashboard-banner">
        <div class="banner-section">
            <div class="banner-content">
                <h1 style="font-weight:bolder;">Website Design Awards</h1>
                <div class="contents-details">
                    <div class="rate-content">
                        <div class="rate-value">10 <sub>/10</sub></div>
                        <h6>Design</h6>
                    </div>
                    <div class="rate-content">
                        <div class="rate-value">10 <sub>/10</sub></div>
                        <h6>Usability</h6>
                    </div>
                    <div class="rate-content">
                        <div class="rate-value">10 <sub>/10</sub></div>
                        <h6>Content</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 style="margin-left:2em;"><b>Top Sites</b></h5>
        </div>
    </div>
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img src="{{ project.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-truncate">{{ project.name }}</h5>
                    <div style="text-align:justify;">
                        {{ project.description }}
                    </div>
                    <div class="project-link-vote">
                        <a class="project-links vote-btn" data-project="{{project.id }}" data-user="{{request.user.id}}">Vote <i
                                class="fas fa-vote-yea"></i></a>
                        <a class="project-links" href="{{ project.link }}" target="_blank">Visit site <i
                                class="fas fa-external-link-alt"></i></a>
                    </div>
                    <br>
                    <div class="user-scores">
                        <div>
                            {% if comment.profile.profile_photo %}
                            <img src="{{ project.profile.profile_photo.url }}" class="blog-profile-icon" alt="">
                            {% else %}
                            <img src="{% static 'img/user.png' %}" class="blog-profile-icon" alt="">
                            {% endif %}
                            <span>{{project.profile.full_name }}</span>
                        </div>
                    </div>
                    <div style="text-align:right;">
                        <span>
                           {% if project.total_raters > 0%}
                                <b>D:</b>{{ project.design_rating|div:project.total_raters}} 
                                &nbsp; <b>U:</b>{{ project.usability_rating|div:project.total_raters}} &nbsp; <b>C:</b>{{ project.content_rating|div:project.total_raters}} &nbsp; <b>AVG:</b> {{ project.design_rating|add:project.usability_rating|add:project.content_rating}}
                                {% endif %}
                            </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="voteModal" tabindex="-1" aria-labelledby="voteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rate site</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="project-id">
                <input type="hidden" id="profile-id">
                <div class="mb-3" style="width:100%;">
                    <label for="image_name" class="form-label">Design rating</label><br>
                    <input id="design" class="form-control" type="text" data-slider-min="0" data-slider-max="10"
                        data-slider-step="1" data-slider-value="0" /><br>
                    <span id="designCurrentSliderValLabel">Value: <span id="designSliderVal">0</span></span>
                </div>
                <div class="mb-3">
                    <label for="image_name" class="form-label">Usability rating</label><br>
                    <input id="usability" class="form-control" type="text" data-slider-min="0" data-slider-max="10"
                        data-slider-step="1" data-slider-value="0" /><br>
                    <span id="usabilityCurrentSliderValLabel">Value: <span id="usabilitySliderVal">0</span></span>
                </div>
                <div class="mb-3">
                    <label for="image_name" class="form-label">Content rating</label><br>
                    <input id="content" class="form-control" type="text" data-slider-min="0" data-slider-max="10"
                        data-slider-step="1" data-slider-value="0" /><br>
                    <span id="contentCurrentSliderValLabel">Value: <span id="contentSliderVal">0</span></span>
                </div>
                <input type="hidden" id="user" value="{{request.user.id}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="rate-site-btn">Rate site</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}