{% extends 'home/dashboard.html' %}
{% block dashboard_content %}
{% load static %}
    <div class="row">
        <div class="col dashboard-banner">
            <div class="banner-section">
                <div class="banner-content">
                    <h1 style="font-weight:bolder;">Website Design Awards</h1>
                    <div class="contents-details">
                        <div class="rate-content">
                            <div class="rate-value">10</div>
                            <h6>Design</h6>
                        </div>
                        <div class="rate-content">
                            <div class="rate-value">10</div>
                            <h6>Usability</h6>
                        </div>
                        <div class="rate-content">
                            <div class="rate-value">10</div>
                            <h6>Content</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}